<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>login</title>
</head>
<body>
<div class="welcome">
    <h2 id="welcomeString">Welcome!</h2>
</div>
<div id="formContainer">
    <form
            role="form"
            action="/login"
            th:object="${UserLoginDto}"
            method="post"
    >
        <div class="form-group">
            <label th:for="userId">ID: </label>
            <input
                    type="text"
                    th:field="*{userId}"
                    class="form-control"
                    placeholder="Enter your ID."
            />
        </div>

        <div class="form-group">
            <label th:for="userPassword">password:</label>
            <span
                    class="error"
                    th:if="${#fields.hasErrors('userPassword')}"
                    th:errors="*{userPassword}"
            >Error!</span>
            <input
                    type="password"
                    th:field="*{userPassword}"
                    class="form-control"
                    placeholder="Enter your password."
                    th:class="${#fields.hasErrors('userPassword')}? 'form-control fieldError' : 'form-control'"
            />
        </div>

        <button type="submit" class="submit-btn">
            Login
        </button>
    </form>
</div>
</body>
</html>